In [18]:
!pip3 install imblearn
!pip3 install xgboost
!pip3 install catboost

Requirement already satisfied: imblearn in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from imblearn) (0.8.0)
Requirement already satisfied: scikit-learn>=0.24 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (0.24.1)
Requirement already satisfied: numpy>=1.13.3 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.19.1)
Requirement already satisfied: scipy>=0.19.1 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied: joblib>=0.11 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)
Requirement already satisfied: xgboost in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (1.3.3)
Requirement already satisfied: scipy in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from xgboost) (1.5.2)
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from xgboost) (1.19.1)
Requirement already satisfied: catboost in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (0.24.4)
Requirement already satisfied: pandas>=0.24.0 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from catboost) (1.1.4)
Requirement already satisfied: graphviz in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from catboost) (0.16)
Requirement already satisfied: numpy>=1.16.0 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from catboost) (1.19.1)
Requirement already satisfied: scipy in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from catboost) (1.5.2)
Requirement already satisfied: matplotlib in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from catboost) (4.14.3)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from catboost) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from pandas>=0.24.0->catboost) (2021.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in /home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages (from plotly->catboost) (1.3.3)

In [19]:
import numpy as np
import pandas as pd
import os
import kaggle_data_loader as kdl

In [20]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix, plot_roc_curve, plot_precision_recall_curve
from sklearn.metrics import precision_score, recall_score
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
from imblearn.over_sampling import SMOTE #importing important libraries for oversampling data
from collections import Counter

In [22]:
from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import GradientBoostingClassifier 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
from catboost import CatBoostClassifier

In [23]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import recall_score
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [24]:
dat = kdl.load_data('heart_failure_clinical_records_dataset.csv')

In [25]:
dat

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [8]:
dat.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [9]:
dat.corr()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
age,1.000000,0.088006,-0.081584,-0.101012,0.060098,0.093289,-0.052354,0.159187,-0.045966,0.065430,0.018668,-0.224068,0.253729
anaemia,0.088006,1.000000,-0.190741,-0.012729,0.031557,0.038182,-0.043786,0.052174,0.041882,-0.094769,-0.107290,-0.141414,0.066270
creatinine_phosphokinase,-0.081584,-0.190741,1.000000,-0.009639,-0.044080,-0.070590,0.024463,-0.016408,0.059550,0.079791,0.002421,-0.009346,0.062728
diabetes,-0.101012,-0.012729,-0.009639,1.000000,-0.004850,-0.012732,0.092193,-0.046975,-0.089551,-0.157730,-0.147173,0.033726,-0.001943
ejection_fraction,0.060098,0.031557,-0.044080,-0.004850,1.000000,0.024445,0.072177,-0.011302,0.175902,-0.148386,-0.067315,0.041729,-0.268603
high_blood_pressure,0.093289,0.038182,-0.070590,-0.012732,0.024445,1.000000,0.049963,-0.004935,0.037109,-0.104615,-0.055711,-0.196439,0.079351
platelets,-0.052354,-0.043786,0.024463,0.092193,0.072177,0.049963,1.000000,-0.041198,0.062125,-0.125120,0.028234,0.010514,-0.049139
serum_creatinine,0.159187,0.052174,-0.016408,-0.046975,-0.011302,-0.004935,-0.041198,1.000000,-0.189095,0.006970,-0.027414,-0.149315,0.294278
serum_sodium,-0.045966,0.041882,0.059550,-0.089551,0.175902,0.037109,0.062125,-0.189095,1.000000,-0.027566,0.004813,0.087640,-0.195204
sex,0.065430,-0.094769,0.079791,-0.157730,-0.148386,-0.104615,-0.125120,0.006970,-0.027566,1.000000,0.445892,-0.015608,-0.004316
smoking,0.018668,-0.107290,0.002421,-0.147173,-0.067315,-0.055711,0.028234,-0.027414,0.004813,0.445892,1.000000,-0.022839,-0.012623
time,-0.224068,-0.141414,-0.009346,0.033726,0.041729,-0.196439,0.010514,-0.149315,0.087640,-0.015608,-0.022839,1.000000,-0.526964
DEATH_EVENT,0.253729,0.066270,0.062728,-0.001943,-0.268603,0.079351,-0.049139,0.294278,-0.195204,-0.004316,-0.012623,-0.526964,1.000000

In [10]:
dat=dat[dat['creatinine_phosphokinase']<2000] #removing outliers in creatinine_phosphokinase
dat=dat[dat['ejection_fraction']<65] #removing outliers in ejection_fraction
dat=dat[(dat['platelets']>100000) & (dat['platelets']<450000)] #removing outliers in platelets
dat=dat[dat['serum_creatinine']<2] #removing outliers in serum_creatinine
dat=dat[dat['serum_sodium']>126] #removing outliers in serum_sodium

In [11]:
x = dat[[c for c in dat.columns if c != 'DEATH_EVENT']] #separating features
y = dat['DEATH_EVENT']#separating target

In [12]:
smote = SMOTE()

# fit predictor and target variable
x_smote, y_smote = smote.fit_resample(x, y)

print('Original dataset shape', Counter(y))
print('Resample dataset shape', Counter(y_smote))

Original dataset shape Counter({0: 168, 1: 60})
Resample dataset shape Counter({1: 168, 0: 168})

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x_smote, y_smote, test_size=0.4, random_state=0)
X_train.shape

(201, 12)

In [14]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
pca = PCA(n_components=2)
pca.fit(X_train_scaled)
print(pca.explained_variance_ratio_)

X_train_pca = pca.transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

[0.24156044 0.17437461]

In [16]:
cla = {
"LogisticRegression":LogisticRegression(),
'Random_Forest': RandomForestClassifier(n_estimators=100, random_state=42),  # might reach 92% accuracy
'Gradient_Boosting': GradientBoostingClassifier(max_depth=5),
'K_NN': KNeighborsClassifier(n_neighbors=5, weights='distance'),
"ADABOOST":AdaBoostClassifier(random_state=1),
"xgboost":xgb.XGBClassifier(random_state=1,learning_rate=0.01),
#"CatBoost":CatBoostClassifier()
}

In [17]:
for name, model in cla.items():
    model.fit(X_train_pca, y_train)
    y_test_pre = model.predict(X_test_pca)
    print(model.score(X_test_pca,y_test))
    print(recall_score(y_test, y_test_pre))
    print('-----------')

0.5259259259259259
0.515625
-----------
0.6148148148148148
0.53125
-----------
0.5925925925925926
0.5625
-----------
0.6888888888888889
0.625
-----------
0.5925925925925926
0.4375
-----------
[18:26:15] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.6074074074074074
0.46875
-----------

/home/ec2-user/anaconda3/envs/Braket/lib/python3.7/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)